div.pull-left
    span.build-date
        = buildDate

    = symbolComma

    span.build-source-version
        != buildSourceRevision

    = symbolComma

    span.application-version
        = applicationVersion

    = symbolPeriod

div.pull-right
    = madeBy
    a(href="http://iissnan.com", target="_blank")  iissnan