extends layout

block header
    link(rel="stylesheet", type="text/css", href="assets/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="assets/vendor/octicons/octicons/octicons.css")
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
    link(rel="shortcut icon", type="images/x-icon", href="assets/img/favicon.ico")

block brand
    a#brand(href="/progit/")
        img.logo(src="assets/img/git-logo.png", alt="git")

block row
    div.col-md-4
        div.ph20
            div.book-info

                p
                    img.img-responsive.center-block(src="assets/img/pro-git-cover.jpeg", alt="Pro Git Cover")
    div.col-md-8
        div.ph20
            ul.toc
                each chapterTOC in tableOfContents
                    each toc in chapterTOC
                        li(class="headline#{toc.level}"): a(href="#{toc.href}") #{toc.text}

block prepend scripts
    script(src="assets/vendor/jquery/dist/jquery.min.js")
    script(src="assets/vendor/bootstrap/dist/js/bootstrap.min.js")
