extends layout

block header
    link(rel="stylesheet", type="text/css", href="assets/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
    link(rel="shortcut icon", type="images/x-icon", href="assets/img/favicon.ico")

block navZh
    li
        a(href="index.html") 0 目录
block navEn
    li
        a(href="index.en.html") 0 Tables Of Contents

block navAbout
    li
        a(href="about.html") 关于

block row
    div.span5
        !{content}

    div.span4.offset2
        div.book-info
            p
                a(href="http://github.com/progit/progit") Pro Git书籍源码
            p
                img.img-polaroid(src="assets/img/pro-git-cover.jpeg", alt="Pro Git")

block prepend scripts
    script(src="assets/vendor/jquery/jquery.min.js")
    script(src="assets/vendor/bootstrap/js/bootstrap.min.js")
