!!! doctype
html
    head
        meta(charset="utf-8")
        title #{title}

        - if (isIndex)
            href = "assets/css/main.css"
        - else
            href = "../assets/css/main.css"
        link(rel="stylesheet", type="text/css", href="#{href}")
    body
        div.wrap
            !{content}
