doctype
html
    head
        meta(charset="utf-8")
        title #{title}

        block header

    body
        div.navbar.navbar-fixed-top.navbar-inverse
            div.navbar-inner
                div.container
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") 简体中文版
                                b.caret
                            ul.dropdown-menu(role="menu")
                                block navZh
                                div.divider
                                !{chapterLinksZh}

                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") 英文版
                                b.caret
                            ul.dropdown-menu(role="menu")
                                block navEn
                                div.divider
                                !{chapterLinksEn}

        div.container#main
            div.wrap.clearfix
                block row

        block scripts
