doctype
html
    head
        meta(charset="utf-8")
        title #{title}

        block header

    body
        div.navbar.navbar-fixed-top.navbar-inverse
            div.navbar-inner
                div.container
                    !{menu}


        div.container#main
            div.wrap.clearfix
                block row
            div.footer
                !{footer}

        block scripts
