li.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") #{MenuItemLabel}
        b.caret
    ul.dropdown-menu(role="menu")
        li
            !{TransitionIndexTitle}
        div.divider
        !{TransitionChapterLinks}