extends layout

block header
    link(rel="stylesheet", type="text/css", href="../../assets/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="../../assets/css/main.css")
    link(rel="shortcut icon", type="images/x-icon", href="../../assets/img/favicon.ico")

block brand
    a#brand(href="/")
        img.logo(src="../../assets/img/git-logo.png", alt="git")

block row
    div.col-md-4
        div.ph20
            !{sidebar}
    div.col-md-8
        div.ph20
            !{content}

block prepend scripts
    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.min.js")
    script(src="../../assets/js/main.js")
