extends layout

block content
    div.span12
        h3 关于《Pro git》这本书：
        p
            | The entire Pro Git book
            | , written by Scott Chacon and published by Apress, is available
            a(href="http://www.git-scm.com/book", target="_blank") here
            |. All content is licensed under the
            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/", target="_blank") Creative Commons Attribution Non Commercial Share Alike 3.0 license
            |. Print versions of the book are available on
            a(href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339", target="_blank") Amazon.com.

        p
            | 非常感谢中文版本翻译的朋友。

        h3 关于这个站点：
        div

            p
                | 《Pro git》是无疑入门git的极佳教材，并且这本书是完全免费的！源文件托管在
                a(href="https://github.com/progit/progit", target="_blank") github
                |。
            p
                | 但自从在线地址并入
                a(href="http://git-scm.com/", target="blank") git官方网站
                | 后就被白名单认证了。由此以来，想翻阅在线HTML版本就极为麻烦。
            p
                | 恰巧最近接触
                a(href="http://nodejs.org", target="_blank") Node.js
                | ，故萌生了制作这个站点的想法。

        h3 站点由以下内容构建：

        ul
            li
                a(href="http://nodejs.org",target="_blank") Node.js
            li
                a(href="http://expressjs.com/", target="_blank") Express Module
            li
                a(href="https://github.com/evilstreak/markdown-js", target="_blank") Markdown-js
            li
                a(href="http://jade-lang.com/", target="_blank") Jade Template
            li
                a(href="http://twitter.github.com/bootstrap/", target="_blank") Twitter Bootstrap
            li
                a(href="http://daringfireball.net/projects/markdown/", target="_blank") Markdown
            li
                a(href="http://git-scm.com", target="_blank") git
                | /
                a(href="https://github.com",target="_blank") github
            li
                a(href="http://www.linode.com", target="_blank") Linode