extends layout

block content
    div.container
        div.row
            div.span8
                block chapter-content.
                    !{content}
            div.span4
                ul.nav.nav-list(style="position:fixed;width:300px")
                    li.active
                        a(href="01")
                            i.icon-book.icon-white
                            |  第一章 起步
                    li
                        a(href="02")
                            i.icon-book
                            |  第二章 Git 基础
                    li
                        a(href="03")
                            i.icon-book
                            |  第三章 Git 分支
                    li
                        a(href="04")
                            i.icon-book
                            |  第四章 服务器上的 Git
                    li
                        a(href="05")
                            i.icon-book
                            |  第五章 分布式 Git
                    li
                        a(href="06")
                            i.icon-book
                            |  第六章 Git工具
                    li
                        a(href="07")
                            i.icon-book
                            |  第七章 自定义Git
                    li
                        a(href="08")
                            i.icon-book
                            |  第八章 Git与其他系统
                    li
                        a(href="09")
                            i.icon-book
                            |  第九章 Git内部原理
                div(class="toc")
                    ul
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/js/toc.js")
