!!! 5
html
    head
        meta(charset="utf-8")
        title Contents
        link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
    body
        ul
            each content, i in Contents
                li
                    a(target="_blank", href="0#{i+1}") #{content}
