div.span8
    !=contents
div.span4
    img(src="/img/pro-git-cover.jpeg", alt="pro-git", width="200")
    p.translations 其他语言版本
    ul
        li
            a(href="/en/") 英文版
        li
            a(href="/zh-tw/") 繁体中文版