extends layout

block content
    div.span8
        ul
        each chapter,i in chapters
            li
                a(href="#{chapter.translate}/#{chapter.url}") #{chapter.title}
    div.span4
        img(src="/img/pro-git-cover.jpeg", alt="pro-git", width="200")
        p.translations 其他语言版本
        ul
            li
                a(href="/en/") 英文版
            li
                a(href="/zh/") 简体中文版
