!!! 5
html
    head
        meta(charset="utf-8")
        title Twitter Bootstrap
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/common.css")
        link(rel="shortcut icon", href="/favicon.ico", type="images/x-icon")

    body
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div.container
                    a.brand(href="/", id="brand") Pro Git
                    ul.nav
                      li.active
                        a(href="/") Home
                      li
                        a(href="/about") About

        div.container#main
            div.row
                != body