body{
    padding-top: 50px;
    background: #F0EFE7;
    font-family: "Hiragino Kaku Gothic Pro", "Microsoft YaHei", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

#brand{
    width: 106px;
    font:30px/1 Georgia, "Times New Romon", sans-serif;
    padding-left: 40px;
    text-indent: -9999px;
    background: url(../img/logo.png) no-repeat 0 50%;
}


/* navbar */
.navbar .nav{
    left: 20px;
}
.navbar-inner{
    box-shadow: none;
}
.navbar .nav > li{
    margin-right: 15px;
}
.navbar .nav > li > a{
    line-height: 30px;
}

#main{
    padding: 20px;
    background: #fff;
}

.translations{
    margin-top: 15px;
}

h2{
    margin: 20px 0;
}
h3{
    margin: 15px 0;
}
h4{
    margin: 10px 0;
}
h5{
    margin: 8px 0;
}
h6{
    margin: 5px 0;
}