img, fieldset{
    border: 0;
}

body{
    padding-top: 50px;
    background: #F0EFE7;
    font: 16px/1.62  "WenQuanYi Micro Hei", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "WenQuanYi Micro Hei", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

#brand{
    float: left;
    margin-top: 7px;
    padding:0 25px 0 10px;
}
    .logo{
        width: 36px;
        height: 36px;
    }

.navbar .nav > li{
    margin-right: 15px;
}

#main{}
.wrap{
    padding: 20px 0;
    min-height: 500px;
    background: #fff;
}
.footer{
    margin: 20px 0;
    color: #888;
}

.toc li{
    margin: 10px auto;
    line-height: 1.62;
    list-style: none;
}
.toc .headline1{
    margin: 25px 0 10px;
    font-size: 30px;
}
.toc .headline2{
    margin-left: 20px;
    font-size: 14px;
}
.toc .headline3{
    margin-left: 40px;
}
.toc .headline4{
    margin-left: 60px;
}
.toc .headline5{
    margin-left: 80px;
}

.sub-nav{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}
.sub-nav .nav-header{
    padding: 3px 0;
    font-size: 20px;
    line-height: 1.5;
}

.sub-nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.sub-nav > li > a:hover {
    background: #e5e3e9;
}

.sub-nav > li.active > a,
.sub-nav > li.active > a:hover,
.sub-nav > li.active > a:focus {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.ph20{ padding: 0 20px; }


@media (min-width: 992px) {
    .sub-nav{
        position: fixed;
        width: 253px;
    }
}
